* {margin:0;padding:0;}
.fl {float:left;}

body {width:100%;background:url(../img/H501/BG.jpg) repeat-y;background-size:100% auto;}
.wrap {width:100%;height:100%;z-index:0;}
.index_content {width:320px;height:480px;background:url(../img/H501/bj_1.png) 2px 22px no-repeat;background-size:315px 436px;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);z-index:0;}
.select_div {padding:110px 14px 0;}
.select_btn { opacity: 0; width:61px;height:61px;position:relative;margin:10px 6px;z-index:0;}
.word{background:url(../img/H501/shu.png) 6px 6px no-repeat; background-size:46px 46px;}
.select_div p:nth-of-type(1) {background:url(../img/H501/shu.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(2) {background:url(../img/H501/niu.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(3) {background:url(../img/H501/hu.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(4) {background:url(../img/H501/tu.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(5) {background:url(../img/H501/long.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(6) {background:url(../img/H501/she.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(7) {background:url(../img/H501/ma.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(8) {background:url(../img/H501/yang.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(9) {background:url(../img/H501/hou.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(10) {background:url(../img/H501/ji.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(11) {background:url(../img/H501/gou.png) 6px 6px no-repeat;background-size:46px 46px;}
.select_div p:nth-of-type(12) {background:url(../img/H501/zhu.png) 6px 6px no-repeat;background-size:46px 46px;}

.show_page {display:none;opacity: 0;position:fixed;left:0;top:0;width:100%;height:100%;z-index:101;background: repeat-x;background-size:100% auto;}
.show {width:320px;height:480px;position:relative;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);z-index:0;text-align:center;}
.show img {width:320px;height:400px;}
.show #share_btn {display:inline-block;width:132px;height:49px;margin:10px;background:url(../img/H503/share.png) no-repeat; background-size:132px 49px;}
.show #attention_btn {display:inline-block;width:132px;height:49px;margin:10px;background:url(../img/H503/attention.png) no-repeat; background-size:132px 49px;}

.load_page {display:none;position:fixed;left:0;top:0;width:100%;height:100%;z-index:100;background:url(../img/H503/alert_bj.png) repeat-x;background-size:100% auto;}
.load_content {width:320px;height:480px;position:relative;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);z-index:0;text-align:center;}
.load_bj {opacity: 0;position:absolute;left:68px;top:100px;width:185px;height:256px;background:url(../img/H502/load_bj.png) no-repeat;background-size:185px 256px;}
.load_content p{font:24px/30px '雅黑';color:#FFF;margin-top:40px;}
.load_content .loading_1{display:block;position:absolute;left:9px;top:44px;width:167px;height:167px;background:url(../img/H502/loading_1.png) no-repeat;background-size:167px 167px;}
.load_content .loading_2{display:block;position:absolute;left:68px;top:104px;width:49px;height:49px;background:url(../img/H502/loading_2.png) no-repeat;background-size:49px 49px;}

.alert_page {display:none;position:fixed;left:0;top:0;width:100%;height:100%;z-index:500;background:url(../img/H503/alert_bj.png) repeat-x;}
.alert_content {}
.alert_content .alert_share {display:block;background:url(../img/H503/alert_share.png) no-repeat;background-size:226px 52px;width:226px;height:52px;position:absolute;top:0;right:10px;}
.alert_content .alert_attention {display:block;background:url(../img/H503/alert_attention.png) no-repeat;background-size:302px 52px;width:302px;height:52px;position:absolute;top:0;right:9px;}
/*  animation  */
.active_load .loadPage_show {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-duration: 3.5s;
		animation-duration: 3.5s;
		-webkit-animation-name: loadPage_ani;
		animation-name: loadPage_ani;
		-webkit-animation-delay:  0.2s;
		animation-delay: 0.2s;
		animation-iteration-count: 1;
		-webkit-animation-iteration-count: 1;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		animation-direction: normal;
		-webkit-animation-direction: normal
}
@-webkit-keyframes loadPage_ani
{
	0% {-webkit-transform: scale(0.4)  rotate(0deg); opacity: 0; display: block;}
	20% {-webkit-transform: scale(1) rotate(360deg); opacity: 1; display: block;}
	66% {-webkit-transform: scale(1) rotate(360deg); opacity: 1; display: block;}
	99% {-webkit-transform: scale(4) rotate(360deg); opacity: .8; display: none;}
	100% {-webkit-transform: scale(4) rotate(360deg); opacity: 0; display: none;}
}
.active_load .load_rotate {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-duration: 2.5s;
		animation-duration: 2.5s;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		animation-direction: normal;
		-webkit-animation-direction: normal
}
.active_load .load_rotate_name1 {
		-webkit-animation-name: load_rotate_ani;
		animation-name: load_rotate_ani;
}
.active_load  .load_rotate_name2 {
		-webkit-animation-name: load_rotateBack_ani;
		animation-name: load_rotateBack_ani;
}
@-webkit-keyframes load_rotate_ani
{
	0% {-webkit-transform: rotate(0deg);display: block;}
	100% {-webkit-transform: rotate(360deg);display: none;}
}
@-webkit-keyframes load_rotateBack_ani
{
	0% {-webkit-transform: rotate(0deg);display: block;}
	100% {-webkit-transform: rotate(-360deg);display: none;}
}

.showPage_active {
		-webkit-animation-timing-function: ease;
		animation-timing-function: ease;
		-webkit-animation-duration: 1.2s;
		animation-duration: 1.2s;
		-webkit-animation-name: showPage_ani;
		animation-name: showPage_ani;
		-webkit-animation-delay: 3.2s;
		animation-delay: 3.2s;
		animation-iteration-count: 1;
		-webkit-animation-iteration-count: 1;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		animation-direction: normal;
		-webkit-animation-direction: normal
}
@-webkit-keyframes showPage_ani
{
	0% {-webkit-transform: scale(0.6); opacity: 0; display: block;}
	100% {-webkit-transform: scale(1); opacity: 1; display: block;}
}
.span_scale {
		-webkit-animation-timing-function: ease;
		animation-timing-function: ease;
		-webkit-animation-duration: 0.5s;
		animation-duration: 0.5s;
		-webkit-animation-name: span_ani;
		animation-name: span_ani;
		animation-iteration-count: 1;
		-webkit-animation-iteration-count: 1;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		animation-direction: normal;
		-webkit-animation-direction: normal
}
.span_scale_delay05 {
		-webkit-animation-delay: 1.5s;
		animation-delay: 1.5s;
}
.span_scale_delay1 {
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
}
.span_scale_delay15 {
		-webkit-animation-delay: 2.5s;
		animation-delay: 2.5s;
}
.span_scale_delay2 {
		-webkit-animation-delay: 3s;
		animation-delay: 3s;
}
@-webkit-keyframes span_ani
{
	0% {-webkit-transform: scale(0.4); opacity: 0; display: block;}
	33% {-webkit-transform: scale(1.1); opacity: 1; display: block;}
	66% {-webkit-transform: scale(0.9); opacity: 1; display: block;}
	100% {-webkit-transform: scale(1); opacity: 1; display: block;}
}
._rotate {
		display:block;width:61px;height:61px;background:url(../img/H501/word_bj.png) no-repeat;background-size:61px 61px;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-name: _rotate_ani;
		animation-name: _rotate_ani;
		-webkit-animation-delay: 1.5s;
		animation-delay: 1.5s;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		animation-direction: normal;
		-webkit-animation-direction: normal
}
@-webkit-keyframes _rotate_ani
{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
#close {display:none;position:absolute;top:0;right:0;width:20px;height:20px;font:16px/20px;color:#000;border:1px #CCC solid;border-radius:50%;background:#FFF;}
@media screen and (max-height: 470px) and (min-height : 371px) {
 body{zoom:0.8;}
}
@media screen and (max-height: 370px) {
 body{zoom:0.7;}
}